.home {
  height: 900px;
  background-color: #F9F8FB;
}
.home__container {
  position: relative;
  width: 1175px;
  height: 900px;
  margin: 0 auto;
  background-image: url(../images/home-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.home__logo {
  width: 127px;
  height: 52px;
  color: #262626;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  font-weight: 400;
  line-height: 25px;
}
.home__header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.home__body {
  height: 270px;
  width: 380px;
  margin-top: 250px;
}
.home__title {
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 25px;
  padding-top: 20px;
  margin-bottom: 40px;
}
.home__info {
  width: 368px;
  height: 75px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 30px;
}
.home__btn {
  background-color: #ff6033;
  width: 210px;
  height: 55px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  border: transparent;
  box-shadow: 5px 15px 25px 10px #fbcdc3;
  cursor: pointer;
}
.home__scroll-icon {
  position: absolute;
  bottom: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.home__scroll-icon:hover {
  cursor: pointer;
}

.top-menu {
  list-style-type: none;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
}
.top-menu__item {
  display: inline;
  padding-right: 30px;
}
.top-menu__item:first-child .top-menu__link {
  border-top: 3px solid red;
  transition: all 0.1s ease-in;
}
.top-menu__item:last-child {
  padding-right: 0;
}
.top-menu__link {
  text-decoration: none;
  display: inline-block;
  color: #262626;
  padding-top: 7px;
  border-top: 3px solid transparent;
}
.top-menu__link:target, .top-menu__link:hover {
  border-top: 3px solid red;
  transition: all 0.1s ease-in;
}

.about-us {
  height: 675px;
  background-color: #00b0b0;
}
.about-us__container {
  width: 1175px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about-us__title {
  width: 394px;
  height: 64px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 86px;
  font-weight: 700;
  line-height: 27px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.about-us__info {
  width: 499px;
  height: 205px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}
.about-us__info p:nth-child(2) {
  margin-top: 14px;
}
.about-us__content {
  margin-top: 175px;
}
.about-us__background-img {
  margin: 40px 0 0 -35px;
}

.services {
  height: 775px;
  background-color: #70bfff;
}
.services__container {
  width: 1175px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.services__img {
  margin: 120px 10px 120px 302px;
}
.services__title {
  width: 539px;
  height: 67px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 85px;
  font-weight: 700;
  line-height: 27px;
  position: absolute;
  top: 360px;
  right: -35px;
}
.services__list {
  list-style-type: none;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  height: 100px;
  width: 400px;
  margin-top: 165px;
}
.services__list li {
  height: 100px;
  width: 400px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.services__list li:hover {
  box-shadow: 5px 12px 22px 10px #5a99cc;
}
.services__list li div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.services__list_name {
  height: 59px;
  width: 226px;
  display: inline-block;
  float: left;
  padding-top: 40px;
  padding-left: 70px;
}
.services__list_icon {
  border-left: 1px solid #888888;
  height: 80px;
  width: 80px;
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-left: 20px;
}
.services #delivery {
  height: 59px;
  width: 296px;
  padding-left: 0;
  padding-top: 25px;
  text-align: center;
}

.gallery {
  background-color: #ffe92f;
  height: 1570px;
}
.gallery__container {
  width: 1175px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__title {
  width: 300px;
  height: 82px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 86px;
  font-weight: 700;
  line-height: 27px;
  padding-top: 30px;
  margin-top: 90px;
  margin-bottom: 25px;
}
.gallery__info {
  width: 600px;
  height: 90px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 45px;
  text-align: center;
}
.gallery__images {
  width: 1175px;
  height: 1020px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__images_img-piece {
  display: flex;
  flex-direction: column;
}
.gallery__images_img {
  padding-bottom: 30px;
}
.gallery__images_img-piece1 {
  padding-bottom: 30px;
}
.gallery__images_img-piece2 {
  padding-bottom: 30px;
}
.gallery__images_img-piece {
  padding-left: 30px;
}
.gallery__btn {
  border: transparent;
  width: 190px;
  height: 55px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  background-color: #5585a2;
  cursor: pointer;
  margin-top: 40px;
}

.subscribe {
  height: 500px;
}
.subscribe__container {
  width: 1175px;
  height: 500px;
  margin: 0 auto;
  background-image: url(../images/background_berries.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.subscribe__title {
  width: 305px;
  height: 29px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 30px;
  padding-top: 145px;
}
.subscribe__info {
  width: 551px;
  height: 47px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 30px;
}
.subscribe__form input[type=text] {
  box-sizing: border-box;
  width: 560px;
  height: 50px;
  border: 2px solid #AEA5A0;
  font-size: 17px;
  padding-left: 10px;
  padding-top: 3px;
}
.subscribe__form input[type=submit] {
  cursor: pointer;
  width: 170px;
  height: 50px;
  box-shadow: 0 20px 30px rgba(150, 185, 44, 0.3);
  background-color: #96b92c;
  border: transparent;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  margin-left: 25px;
}

.blog {
  height: 910px;
  background-color: #b07cf7;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1175px;
  margin: 0 auto;
}
.blog__title {
  width: 190px;
  height: 70px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 86px;
  font-weight: 700;
  line-height: 25px;
  padding-top: 30px;
  margin-top: 110px;
  margin-bottom: 50px;
}
.blog__info {
  width: 583px;
  height: 76px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin-bottom: 50px;
}
.blog__content {
  width: 1170px;
  height: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog__article1 {
  width: 370px;
  height: 310px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/img.png);
  background-size: 100%;
}
.blog__article2 {
  width: 370px;
  height: 310px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/img1.png);
  background-size: 100%;
}
.blog__article3 {
  width: 370px;
  height: 310px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/img2.png);
  background-size: 100%;
}
.blog__article_date {
  width: 60px;
  height: 55px;
  border-radius: 5px;
  background-color: #262626;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  padding-top: 5px;
  margin-top: 30px;
  margin-left: 30px;
}
.blog__article_date div {
  font-size: 32px;
}
.blog__article_title {
  height: 55px;
  width: 327px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-left: 20px;
  margin-top: 115px;
}
.blog__article_writer {
  height: 42px;
  width: 370px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 12px;
}
.blog__btn {
  border: transparent;
  width: 190px;
  height: 55px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  background-color: #f72b3b;
  box-shadow: 0 20px 30px rgba(247, 43, 59, 0.3);
  margin-top: 55px;
  cursor: pointer;
}

.contact {
  height: 950px;
  background-image: url(../images/background2.png);
  background-size: cover;
}
.contact__container {
  width: 1175px;
  height: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__header {
  height: 180px;
  width: 362px;
}
.contact__title {
  width: 337px;
  height: 52px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 25px;
  padding-top: 25px;
}
.contact__info {
  width: 362px;
  height: 51px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin-top: 40px;
}
.contact__wrapper {
  width: 1175px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.contact__form {
  width: 470px;
  height: 540px;
}
.contact__form input[type=text] {
  width: 470px;
  height: 50px;
  background-color: #00c4c4;
  opacity: 0.5;
  border: transparent;
  margin-bottom: 15px;
  padding-left: 21px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
.contact__form input[type=text]:focus {
  opacity: 1;
  outline: none;
  border-left: 4px solid #355b82;
}
.contact__form input[type=text]::placeholder {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.contact__form input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact__form textarea::placeholder {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.contact__form textarea {
  width: 465px;
  height: 250px;
  background-color: #00c4c4;
  opacity: 0.5;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 21px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
.contact__form textarea:focus {
  opacity: 0.9;
  outline: none;
  border-left: 4px solid #355b82;
}
.contact__form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact__form input[type=submit] {
  width: 170px;
  height: 50px;
  box-shadow: 0 20px 30px rgba(52, 119, 172, 0.3);
  background-color: #3477ac;
  border: transparent;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  cursor: pointer;
}
.contact__description {
  width: 337px;
  height: 160px;
}
.contact__description_title {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #262626;
}
.contact__description_data {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 20px;
}

.footer {
  background-color: #262626;
}
.footer__container {
  width: 1350px;
  height: 90px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #b9b9b9;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.footer__container div:nth-child(2) {
  width: 64px;
  height: 27px;
  color: #b9b9b9;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}
.footer__container span {
  color: #ff2b58;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
